// page
$theme-page-width-desktop: 1140px;
$theme-page-padding: 2rem 2rem;
$theme-prescription-padding: 10rem 4rem;

// fonts
$theme-font-size-largest-extreme: 7rem;
$theme-font-size-larger: 2rem;
$theme-font-size-large: 1.5rem;

// borders
$theme-border-radius: 0.25rem;