/* Colours */
$White: #FFFFFC;
$Black: #000;
$Grey: #30343F;
$Yellow: #E0FF4F;
$Orange: #f44708;
$Red: #DB2929;
$Blue: #273469;

/* Colour Config */
$Background-Colour: $White;
$Theme-Colour: $Orange;
$Highlight-Colour: $Yellow;
$Text-Colour: $Blue;
$Danger-Colour: $Red;

/* Fonts */
$Poppin: 'Poppins', sans-serif;

/* Font Config */
$Font-Family: $Poppin;

/* Layout */
$Header-Height: 90px;
$Footer-Height: 50px;
$Frame-Width: 1140px;
$Mobile-Width: 767px;
